<section>
    <h2 data-bind="html: displayName"></h2>
    <div>
       <span>Please choose inital letter of the programme you are looking for:  </span> <select style="width:50px" data-bind="options: letters, value: selectedLetter"></select>
        <div>API: <span data-bind="html: apiSource"></span>, Selected letter: <span data-bind="html: selectedLetter"></span>, Page: <span data-bind="html: selectedPage"/><br /></div>
    </div>
    <div class="row-fluid">
        
        <div data-bind="if: pageNumbers().length>1">
            Pages: 
            <ul class="thumbnails" data-bind="foreach: pageNumbers">
                <li>
                    <a href="#" data-bind="click:$parent.selectPage">
                        <span data-bind="text: $data"> </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

   
    <div class="row-fluid">
        <ul class="thumbnails" data-bind="foreach: programmes">
            <li>
                <span data-bind="text: $data.title()"> </span><br/>
                <img  data-bind="attr: { src: $data.image()}" />
                
            </li>
        </ul>
    </div>
</section>