

    <link rel="shortcut icon" type="image/png" href="lib/jasmine-1.3.1/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/jasmine.css">
    <script type="text/javascript" src="/Scripts/jasmine.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine-html.js"></script>

    <!-- include source files here... -->
   
    
    <script src="../../Scripts/application/DataSources.js"></script>
    <!-- include spec files here... -->
    
   
    <script src="../../Tests/modelTests.js"></script>
    <script type="text/javascript">
        (function () {
            var jasmineEnv = jasmine.getEnv();
            window.jasmineEnv = jasmineEnv;
            jasmineEnv.updateInterval = 1000;

            var htmlReporter = new jasmine.HtmlReporter();

            jasmineEnv.addReporter(htmlReporter);

            jasmineEnv.specFilter = function (spec) {
                return htmlReporter.specFilter(spec);
            };

            var currentWindowOnload = window.onload;

            window.onload = function () {
                if (currentWindowOnload) {
                    currentWindowOnload();
                }
                execJasmine();
            };

            function execJasmine() {
                jasmineEnv.execute();
            }

        })();
    </script>
<h2 data-bind="html:displayName"></h2>
